@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

b {
	font-weight: normal;
	font-variant: small-caps;
}

abbr.initialism { white-space: nowrap; }
abbr.degree { white-space: nowrap; }
abbr.era { white-space: nowrap; }
